.list {
  width: 300px;
  background-color: gray;
}

.list-link {
  color: #000000
}

.blockquote {
  border-left: 2px solid;
  padding-left: 5px;
}

.first-pic {
  height: 294px;
}

.second-pic {
  height: 546px;
}

.third-pic {
  height: 256px;
}

.validation-link {
  color: #000000;
}

