.nav {
  position: relative;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  padding-left: 34px;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  color: #2D2D2D;
  
}

.nav:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/keyboard_backspace.svg);
  background-repeat: no-repeat;
} 
