body {
  background-color: #1b1a1b;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.header {
  position:relative;
  width: 1180px;
  height: 823px;
  margin: 0 auto;
}

header:before {
  content: "";
  width: 675px;
  height: 762px;
  position:absolute;
  right: 0;
  bottom: 0;
  background-image: url(../img/intro.png);
  background-repeat: no-repeat;
  z-index: 1;
}

.header-title {
  text-align: cener;
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.header-text {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;  
  padding-left: 100px;
}

.halls {
  width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
}

.halls-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}