.footer {
    padding: 50px 0 101px;
    padding-bottom: 51px;
  }
.footer__title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 40px;
  }
  
.footer__address {
  width: 440px;
  margin-bottom: 40px;
  font-size: 0;
}

.footer__location-icon {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
}

.footer__address-text {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  vertical-align: middle;
  white-space: pre-line;
  margin-bottom: 36px;
}

.footer__tel-icon {
  display: inline-block;
  margin-right: 28px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.footer__tel-link {
  display:inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 11px;
}

.footer__email-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;

}

.footer__email-address {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  vertical-align: middle;

}

.footer__social-item {
  display: inline-block;
  margin-right: 26px;
}
.footer__social-item:last-child {
  margin-right: 0;
}

