.halls {
  padding: 50px 0;
}
.halls__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 60px;
}

.halls__list {
  list-style: none;
}

.halls__item {
  position: relative;
  width: 1180px;
  height: 710px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.halls__item:last-child {
  margin-bottom: 0;
}

.vibes {
  background-image: url(../img/80s_vibes.jpg);
}
.wars {
  background-image: url(../img/star_wars.jpg);
}

.west {
  background-image: url(../img/wild_west.jpg);
}

.neon {
  background-image: url(../img/neon_style.jpg);
}

.halls__caption {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;

}

.hall-vibes {
  position: absolute;
  max-width: 374px;
  top:315px;
  left: 403px;
}

.hall-wars {
  position:absolute;
  max-width: 416px;
  top: 315px;
  left: 382px
}

.hall-west {
  position: absolute;
  max-width: 401px;
  top: 315px;
  left: 390px;
}

.hall-neon {
  position: absolute;
  max-width: 448px;
  top: 315px;
  left: 366px;
}












