@import url(style.css);
@import url(faq.css);




.intro {
  height: 823px;
  background-image: url(../img/intro.png);
  background-position: right 61px;
  background-repeat: no-repeat;
}

.intro-title {
  text-align: left;
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.1em;
}
  
.intro-text {
  text-align: left;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  padding-left: 100px;
  margin: 0;
}

.halls {
  padding-top: 100px;
}
.halls-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 60px;
}

.halls-list {
  list-style: none;
}

.halls-item {
  margin-bottom: 60px;
}
.halls-item:last-child {
  margin-bottom: 0;
}

.halls-figure {
  height: 710px;
  position: relative;
}

.halls-caption {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}

.caption-vibes {
  max-width: 211px;
  position: absolute;
  top: 275px;
  left: 484px;
}

.caption-wars {
  max-width: 252px;
  position: absolute;
  top: 275px;
  left: 464px;
}

.caption-west {
  max-width: 203px;
  position: absolute;
  top: 275px;
  left: 464px;
}

.caption-neon {
  max-width: 226px;
  position: absolute;
  top: 275px;
  left: 477px;
}

.reservation{
  padding-top: 100px
}

.reservation-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}

.about {
  padding-top: 100px;
}

.about-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 50px;
}

.about-first-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.about-second-paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 78px;
}



.about-third-paragraph {
  position: relative;
  width: 1180px;
  white-space: pre-line;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px;
  text-align: left;
  margin-bottom: 40px;
}

.about-third-paragraph:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: -16.02px;
  bottom: 71.59px; 
  width: 38.98px;
  height: 34.41px;
  background-image: url(../img/quotes.svg);
  background-repeat: no-repeat;
}

.about-third-paragraph:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 160px;
  bottom: 22px;
  width: 38.98px;
  height: 34.41px;
  background-image: url(../img/quotes.svg);
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.blockquote {
  text-align: right;
}

.about-fourth-paragraph {
  display: inline-block;
  text-align: right
}

.about-pic {
  display: inline-block;
  margin-right: 29px;
}

.author-creator {
  text-align: left;
  max-width: 270px;
  display: inline-block;
  vertical-align: top;
}

.about-creator {
  height: 80px;
}

.faq {
  padding-top: 100px;
}

.faq-title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 51px;
}

.footer-title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 54px;
}

.footer-adress {
  white-space: pre-line;
  width: 419px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 65px;
  margin-bottom: 38px;
}

.location-icon {
  background-image: url(../img/location.svg);
  background-repeat: no-repeat;
  background-position: left 30px;
}

.footer-tel {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 65px;
  color: #ffffff;
  margin-bottom: 11px;
}

.tel-icon {
  background-image: url(../img/phone_call.svg);
  background-repeat: no-repeat;
}

.footer-email {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  padding-left: 65px;
  color: #ffffff;
  margin-bottom: 39px;
}

.email-icon {
  background-image: url(../img/envelope.svg);
  background-repeat: no-repeat;
}

.social-link {
  display: inline-block;
  margin-right: 28px;
}

.social-img {
  width: 50px;
  height: 50px;
}







